<header class="navbar">
  <section class="navbar-section">
    <a href="{{site.url}}" class="site-icon mr-2">
      <img src="../assets/img/logo--200px.png" alt="Ironwood Studio">
    </a>
    <!-- <a href="{{site.url}}" class="mr-2">Ironwood Studio</a> -->
  </section>
  <section class="navbar-section hide-md">
    <!-- <a href="#" class="nav-link">About</a>
    <a href="#" class="nav-link">Case Studies</a> -->
    <a href="#" class="nav-link drift-open-chat">Let's Chat <i style="margin-left:2px;" class="icon icon-message"></i></a>
  </section>
</header>
