@import 'layout';
@import "../node_modules/spectre.css/src/spectre";
@import "../node_modules/spectre.css/src/spectre-icons";

@mixin box-shadow( $horiz : 0 , $vert : 0 , $blur : 24px , $spread : 0px , $color : #555555 ){
  -webkit-box-shadow: $horiz $vert $blur $spread $color;
  -moz-box-shadow: $horiz $vert $blur $spread $color;
  box-shadow: $horiz $vert $blur $spread $color;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "soleil", sans-serif;
  font-weight: 400;
  background: #f8f8f8;
}
#site-container {
  max-width: 1440px;
  margin:auto;
  border-left: 2px solid #f3f3f3;
  border-right: 2px solid #f3f3f3;
  background: #fff;
  @include box-shadow($blur:72px, $color:#ccc);
}
.container {
  padding: 0 1.5rem 0;
  @include media-sm {
    padding-left:2rem;
    padding-right:2rem;
  }
}
.nav-link {
  border-radius: 24px;
  margin:0rem 2rem;
  :focus {
    border:none;
  }
  :active {
    font-weight: bold;
    text-decoration: non
  }
}

.container.grid-xl {
  max-width: 1100px;
}
header.navbar{
  height: 5rem;
  border-bottom: 2px solid #f8f8f8;
  // @include media-lg {
  //   padding-left: 100px;
  //   padding-right: 100px;
  // }
  // @include media-md {
  //   padding-left: 3rem;
  //   padding-right: 3rem;
  // }
  padding-left: 1rem;
  padding-right: 1rem;
}

header.hero {
margin-top: 3rem;
margin-bottom: 5rem;
  }
.site-icon {
  display: inline-block;

  img {
    // border-radius: 50%;
    // border: 1px solid #777;
    max-width: 200px;
  }
}
.case-study-title {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  line-height: 0.9;
  letter-spacing: -1px;
  @include media-md {
    font-size: 2rem;
  }
  @include media-lg {
    font-size: 2.25rem;
  }
}
  .slide-title {
    height:8rem;
  }
  .hero-title {
    font-size: 1.5rem;
    @include media-md {
      font-size: 1.75rem;
    }
    @include media-lg {
      font-size: 2.25rem;
    }
  }

  .site-support {
    font-size: 40px;
    margin-bottom: 80px;
  }

  .hero-image-container {
    display: flex;
    align-items: end;

    .hero-image {
      max-width: 100%;
      display: block;
    }
  }

ul.projects {
  display: flex;
  flex-direction: row;
  list-style: none;
  background: #333;
  padding: 48px 0;
  margin: 0;
  margin-bottom: 64px;

  li {
    flex: 1 1;
    background: #999;
    height: 320px;
    max-width: 240px;
    margin: 0;

    a {
      display: block;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center;
    }

    &:not(:last-child) {
      margin-right: 8px;
    }

    &:not(:first-child) {
      margin-left: 8px;
    }
  }
}

.featured-skill {
  img {
    border-radius: 50%;
    border: 1px solid #777;
  }

  .title-container {
    display: flex;
    align-items: center;
  }
}

.skills {
  margin-bottom: 64px;

  h6 {
    font-weight: 700;
    margin-bottom: 16px;
  }
}

.article-main, .cta {
  padding: 64px 0;
}

.article-header {
  padding-top: 4rem;
  padding-bottom: 6rem;
  height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.project-slide {
  background: gray;
  background-image:url(../img/featured-slide-CB.jpg);
  height: 18rem;
  @include media-md {
    height: 24rem;
  }
  @include media-lg {
    height: 30rem;
  }
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  margin-bottom:4rem;

}
.feature-flag {
  height:8rem;
  border-left:2px solid #ccc;
  position: absolute;
  margin-top:3rem;
}
.feature-number {
  font-size: 2rem;
  position: absolute;
  top: -10px;
  left: 4px;
}
footer {
  border-top: 2px solid #f8f8f8;
  padding-top: 4vw;
  padding-bottom: 1vw;
  .footer-icon-mark {
    position: relative;
    margin:auto;
    width: 48px;
    @include media-lg {
      width: 80px;
    }
  }
}
.sub-footer {
  padding-top: 2vw;
  padding-bottom: 2.25vw;
  border-top: 2px solid #f8f8f8;
  text-align: center;
  color: #ccc;

}
