---
layout: default
---

<header class="hero">
  <div class="container grid-md">
    <h1 class="site-title">Ironwood Studio</h1>
    <div class="columns">
      <div class="column col-8">
        <h2 class="site-support">Creative director and digital marketer.</h2>
        <h4 class="mb-5">Combining creative vision and detailed execution for clients since 2009.</h4>
        <button class="btn btn-primary mb-4 drift-open-chat">Discuss a project</button>
        <h5 class="mb-5">Currently accepting new projects.</h5>
      </div>
      <div class="column col-4">
        <!-- image   -->
      </div>
    </div>
  </div>
</header>

<ul class="projects">
  <li>

  </li>
  <li>

  </li>
  <li>

  </li>
  <li>

  </li>
  <li>

  </li>
</ul>

<div class="selected-skill mb-5">
  <div class="container grid-md">
    <div class="columns">
      <div class="column col-6">
        <img src="https://via.placeholder.com/200x200" alt="Placeholder">
      </div>
      <div class="column col-6 title-container">
        <h3>Salesforce Marketing Cloud Email Specialist</h3>
      </div>
    </div>
  </div>
</div>

<div class="skills">
  <div class="container grid-md">
    <div class="columns">
      <div class="column col-4">
        <h6>Marketing Strategy</h6>
        <p>Te justo facilis verterem nec, ut case numquam nec, velit aliquip ex cum. Eu vis wisi soluta copiosae, in fabulas conceptam his.</p>
      </div>
      <div class="column col-4">
        <h6>Brand Identity</h6>
        <p>Te justo facilis verterem nec, ut case numquam nec, velit aliquip ex cum. Eu vis wisi soluta copiosae, in fabulas conceptam his.</p>
      </div>
      <div class="column col-4">
        <h6>Salesforce Marketing Cloud Email Specialist</h6>
        <p>Te justo facilis verterem nec, ut case numquam nec, velit aliquip ex cum. Eu vis wisi soluta copiosae, in fabulas conceptam his.</p>
      </div>
      <div class="column col-4">
        <h6>Creative Direction</h6>
        <p>Te justo facilis verterem nec, ut case numquam nec, velit aliquip ex cum. Eu vis wisi soluta copiosae, in fabulas conceptam his.</p>
      </div>
      <div class="column col-4">
        <h6>Site Design</h6>
        <p>Te justo facilis verterem nec, ut case numquam nec, velit aliquip ex cum. Eu vis wisi soluta copiosae, in fabulas conceptam his.</p>
      </div>
    </div>
  </div>
</div>

<div class="cta">
  <div class="container grid-md">
    <h3>Ready to get started?</h3>
    <h6 class="mb-4">This is the supporting subhead.</h6>
    <p class="mb-3">Te justo facilis verterem nec, ut case numquam nec, velit aliquip ex cum.</p>
    <button class="btn btn-primary drift-open-chat">Let's make it a success</button>
  </div>
</div>
