---
layout: default
---
<header class="navbar">
  <section class="navbar-section">
    <a href="#" class="site-icon mr-2">
      <img src="https://via.placeholder.com/32x32" alt="Placeholder">
    </a>
    <a href="#" class="mr-2">Ironwood Studio</a>
  </section>
  <section class="navbar-section">
    <a href="#" class="nav-link">About</a>
    <a href="#" class="nav-link">Case Studies</a>
    <a href="#" class="nav-link">Contact</a>
  </section>
</header>
<header class="hero">
  <div class="container grid-lg">
    <div class="columns">
      <div class="column col-9">
        <div class="slide-title">
          <h2 class="mb-5 mt-5 case-study-title">Rebrand paves the way to new business.</h2>
          <h4 class="mb-5">A design change made a big business returns.</h4>
        </div>
        <div class="feature-flag">
          <div class="feature-number">
            01
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- <ul class="projects">
  {% for post in site.posts %}
    <li>
      <a href="{{post.url}}" style="background-image:url(assets/img/{{post.thumbnail-image}})"></a>
    </li>
  {% endfor %}
</ul> -->
<div>
  <a href="#" class="project-slide"></a>

</div>

<div class="featured-skill mb-5">
  <div class="container grid-md">
    <div class="columns">
      <div class="column col-6">
        <img src="https://via.placeholder.com/200x200" alt="Placeholder">
      </div>
      <div class="column col-6 title-container">
        <h3>Salesforce Marketing Cloud Email Specialist</h3>
      </div>
    </div>
  </div>
</div>

<div class="skills">
  <div class="container grid-lg">
    <div class="columns">
      <div class="column col-4 col-xs-12 col-lg-6">
        <h6>Marketing Strategy</h6>
        <p>Te justo facilis verterem nec, ut case numquam nec, velit aliquip ex cum. Eu vis wisi soluta copiosae, in fabulas conceptam his.</p>
      </div>
      <div class="column col-4 col-xs-12 col-lg-6">
        <h6>Brand Identity</h6>
        <p>Te justo facilis verterem nec, ut case numquam nec, velit aliquip ex cum. Eu vis wisi soluta copiosae, in fabulas conceptam his.</p>
      </div>
      <div class="column col-4 col-xs-12 col-lg-6">
        <h6>Salesforce Marketing Cloud Email Specialist</h6>
        <p>Te justo facilis verterem nec, ut case numquam nec, velit aliquip ex cum. Eu vis wisi soluta copiosae, in fabulas conceptam his.</p>
      </div>
      <div class="column col-4 col-xs-12 col-lg-6">
        <h6>Creative Direction</h6>
        <p>Te justo facilis verterem nec, ut case numquam nec, velit aliquip ex cum. Eu vis wisi soluta copiosae, in fabulas conceptam his.</p>
      </div>
      <div class="column col-4 col-xs-12 col-lg-6">
        <h6>Site Design</h6>
        <p>Te justo facilis verterem nec, ut case numquam nec, velit aliquip ex cum. Eu vis wisi soluta copiosae, in fabulas conceptam his.</p>
      </div>
    </div>
  </div>
</div>
