---
layout: default
---
{% include navbar.html %}
<header class="hero">
  <div class="container grid-lg">
    <div class="columns">
      <div class="column col-9">
        <div class="slide-title">
          <h2 class="mb-5 mt-5 case-study-title">Rebrand paves the way to new business.</h2>
          <h4 class="mb-5">A design change made a big business returns.</h4>
        </div>
        <div class="feature-flag">
          <div class="feature-number">
            01
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- <ul class="projects">
  {% for post in site.posts %}
    <li>
      <a href="{{post.url}}" style="background-image:url(assets/img/{{post.thumbnail-image}})"></a>
    </li>
  {% endfor %}
</ul> -->
<div>
  <a href="#" class="project-slide"></a>

</div>

<div class="featured-skill mb-5">
  <div class="container grid-md">
    <div class="columns">
      <div class="column col-6">
        <img src="https://via.placeholder.com/200x200" alt="Placeholder">
      </div>
      <div class="column col-6 title-container">
        <h3>Descriptions needed.</h3>
      </div>
    </div>
  </div>
</div>

<div class="skills">
  <div class="container grid-lg">
    <div class="columns">
      <div class="column col-4 col-xs-12 col-lg-6">
        <h6>Marketing Strategy</h6>
        <p>Te justo facilis verterem nec, ut case numquam nec, velit aliquip ex cum. Eu vis wisi soluta copiosae, in fabulas conceptam his.</p>
      </div>
      <div class="column col-4 col-xs-12 col-lg-6">
        <h6>Brand Identity</h6>
        <p>Te justo facilis verterem nec, ut case numquam nec, velit aliquip ex cum. Eu vis wisi soluta copiosae, in fabulas conceptam his.</p>
      </div>
      <div class="column col-4 col-xs-12 col-lg-6">
        <h6>Salesforce Marketing Cloud</h6>
        <p>Te justo facilis verterem nec, ut case numquam nec, velit aliquip ex cum. Eu vis wisi soluta copiosae, in fabulas conceptam his.</p>
      </div>
      <div class="column col-4 col-xs-12 col-lg-6">
        <h6>Creative Direction</h6>
        <p>Te justo facilis verterem nec, ut case numquam nec, velit aliquip ex cum. Eu vis wisi soluta copiosae, in fabulas conceptam his.</p>
      </div>
      <div class="column col-4 col-xs-12 col-lg-6">
        <h6>Site Design</h6>
        <p>Te justo facilis verterem nec, ut case numquam nec, velit aliquip ex cum. Eu vis wisi soluta copiosae, in fabulas conceptam his.</p>
      </div>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column col-6">
    <ul>
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
