---
layout: default
---
{% include navbar.html %}
<article>
  <header class="article-header bg-gray" style="background-image:url({{site.url}}/assets/img/featured-slide-APM.jpg)">
    <div class="container grid-lg">
      <div class="columns">
        <div class="column col-8 col-lg-12">
          <h1>{{page.title}}</h1>
        </div>
      </div>
    </div>
  </header>

  <main class="article-main">
    <div class="container grid-lg">
      <div class="columns">
        <div class="column col-8 col-mr-auto">
          {{content}}
        </div>
        <div class="column col-3">
            <h5>Brand Identity</h5>
            <p>Te justo facilis verterem nec, ut case numquam nec, velit aliquip ex cum. Eu vis wisi soluta copiosae, in fabulas conceptam his.</p>
        </div>
      </div>
    </div>
  </main>

  <div class="cta bg-gray">
    <div class="container grid-lg">
      <div class="columns">
        <div class="column col-8 col-lg-12">
          <h3>Ready to get started?</h3>
        </div>
      </div>
      <div class="columns">
        <div class="column col-8 col-lg-12">
          <h6 class="mb-4 text-gray">This is the supporting subhead.</h6>
        </div>
      </div>
      <div class="columns">
        <div class="column col-8 col-lg-12">
          <p class="mb-4">Te justo facilis verterem nec, ut case numquam nec, velit aliquip ex cum.</p>
        </div>
      </div>
      <div class="columns">
        <div class="column col-8 col-lg-12">
          <button class="btn btn-primary drift-open-chat">Let's make it a success</button>
        </div>
      </div>
    </div>
  </div>
</article>
